<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Card: transfer -->
<div class="card transfer-card">
    <!-- Card Body -->
    <div class="card-body">


        <!-- Form Group -->
        <div class="form-group">
            <label for="">Select From Account</label>
            <!-- Select Account Option -->
            <select name="from_account_id" class="form-control" id="">
                <option value="">-- Select From Account --</option>
            </select>
        </div>

        <!-- Form Group -->
        <div class="form-group">
            <label for="">Select To Account</label>
            <!-- Select Account Option -->
            <select name="to_account_id" class="form-control" id="">
                <option value="">-- Select To Account --</option>
            </select>
        </div>

        <!-- Another Form Group -->
        <div class="form-group">
            <label for="">Enter Transfer Amount</label>
            <input type="text" class="form-control" th:name="transfer_amount"
                th:placeholder="${'Enter Transfer Amount'}">
        </div>

        <div class="form-group">
            <button id="transact-btn" class="btn btn-md" type="submit">Transfer</button>
        </div>


    </div>
    <!-- End of Card Body -->
</div>
<!-- End of Card transfer -->

</html>
