<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org" >


<!--Card: withdraw-->
<div class="card withdraw-card">
    <!--Card Body-->
    <div class="card-body">
    <div class="form-group">
    <label for="">Enter Withdrawal Amount</label>
    <input type="text" class="form-control"   name="withdraw_amount" Placeholder=" Enter Withdrawal Amount">
    </div>
    <form action="" class="depost-form">
    <!--Form Group-->
    <div class="form-group">
    <label for=""> Select Account</label>
       <!-- Select Account Option-->
    <select name="account_id" class="form-control " id="">
      <option value="">-- Select Account --</option>
    </select>
    </div>
    
    <div class="form-group ">
    <button id="transact-btn" class="btn btn-md"> Withdraw </button>
    </div>
    
    
    </form>
    
    <!--End of the withdraw form-->
    </div>
    <!--End of Card Body-->
    </div>
    <!-- End of Card withdraw-->

</html>