<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Card: withdraw -->
<div class="card withdraw-card">
    <!-- Card Body -->
    <div class="card-body">
        <div class="form-group">
            <label for="">Enter Withdrawal Amount</label>
            <input type="text" class="form-control" th:name="withdraw_amount"
                th:placeholder="Enter Withdrawal Amount">
        </div>
        <form action="" class="withdraw-form">
            <!-- Form Group -->
            <div class="form-group">
                <label for="">Select Account</label>
                <!-- Select Account Option -->
                <select name="account_id" class="form-control" id="">
                    <option value="">-- Select Account --</option>
                </select>
            </div>

            <div class="form-group">
                <button id="transact-btn" class="btn btn-md" type="submit">Withdraw</button>
            </div>
        </form>

        <!-- End of the withdraw form -->
    </div>
    <!-- End of Card Body -->
</div>
<!-- End of Card withdraw -->

</html>
