<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org" >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href = "@{/css/bootstrap/bootstrap.css}" rel="stylesheet"/>
    <link th:href = "@{/css/fontawesome/css/all.css}" rel="stylesheet"/>
    
    <style>
      * {
        box-sizing: border-box;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
      }
      body {
        height: 100vh;
        background-image: url("../public/images/Catalog_frontpage.png");
        background-size: cover;
        background-position: center center;
        background-repeat: none;
      }
      .card .card-text {
        font-size: 16px;
      }
    </style>
    <title>Error</title>
  </head>
  <body class="d-flex align-items-center justify-content-center">
    <!--Card Error-->
    <div class="card col-4 alert alert-danger border border-danger text-danger">
      <!--Card Title-->
      <h3 class="card-title"><i class="fa fa-window-close me-2"></i>Errors:</h3>
      <hr />
      <!--Card Body-->
      <div class="card body bg-transparent border-0">
        <p class="card-text">
         
           <!-- Display Message -->
        <div
        th:if="${error != null}"
        class="alert alert-danger text-center border border-danger"
      >
        <b th:text="${error}"></b>
      </div>

        </p>
        <!--End of Card Text-->
      </div>
      <!--End of Card Body-->
      <!-- Error Messages-->
      <a th:href="@{/login}" class="btn btn-sm btn-danger col-2">
        <i class="fa fa-arrow-alt-circle-left me-1"></i> Back
      </a>
      <!--Back to the login Page-->
      <!--End of Card Title-->
    </div>
  </body>
</html>
