<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org" >
  <head>
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge"></meta>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href = "@{/css/bootstrap/bootstrap.css}" rel="stylesheet"/>
    <link th:href = "@{/css/fontawesome/css/all.css}" rel="stylesheet"/>
    <link th:href="@{/css/index.css}" rel="stylesheet">

    <title>Home</title>
  </head> 
  <body class="d-flex align-items-center">
    <!-- Card: Sample Text-->
    <div id="sample-text-card" class="card col-6 bg-transparent border-0">
      <div class="card-body">
        <!-- Card Header-->
        <h1 class="mb-3">Dynamic Bank</h1>
        <!-- Card title-->
        <h5 class="card-title">Rapid Banking Solutions</h5>
        <!-- Card Body-->
        <!-- Card Body-->

        <p class="card-text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat
          rerum quibusdam reprehenderit sint dolorum ducimus nobis praesentium
          placeat repudiandae. Alias ducimus repellat ipsum qui quaerat
          provident nihil expedita libero sequi?
        </p>
        <!-- End of Card Text-->
      </div>
      <!-- End of Card: Sample Text-->

      <!-- Button-->
      <div class="button-wrapper d-flex align-items-center">
        <a href="register.html" class="btn btn-md register" role="button"> Register </a>
        <a href="login.html" class="btn btn-md login" role="button"> Login </a>
      </div>
    </div>
  </body>
</html>
