<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="">
  <head>
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge"></meta>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href = "@{/css/bootstrap/bootstrap.css}" rel="stylesheet"/>
    <link th:href = "@{/css/fontawesome/css/all.css}" rel="stylesheet"/>
    <link th:href="@{/css/index.css}" rel="stylesheet">

    <title>Home</title>
  </head> 
  <body class="d-flex align-items-center">
    <!-- Card: Sample Text-->
    <div id="sample-text-card" class="card col-6 bg-transparent border-0">
      <div class="card-body">
        <!-- Card Header-->
        <h1 class="mb-3">CATALOGS</h1>
        <!-- Card title-->
        <h5 class="card-title">All Your Favorites In One Spot</h5>
        <!-- Card Body-->
        <!-- Card Body-->

        <p class="card-text">
          Catalogs is the ideal platform for organizing, preserving, and accessing all aspects of entertainment. 
          Our mission is to deliver quick, current, and succinct information on Art & Lifestyle to enhance everyday living.
        </p>
        <!-- End of Card Text-->
      </div>
      <!-- End of Card: Sample Text-->

      <!-- Button-->
      <div class="button-wrapper d-flex align-items-center">
        <a th:href="@{/register}" class="btn btn-md register" role="button"> Register </a>
        <a th:href="@{/login}" class="btn btn-md login" role="button"> Login </a>
      </div>
    </div>
  </body>
</html>
