<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org" >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href = "@{/css/bootstrap/bootstrap.css}" rel="stylesheet"/>
    <link th:href = "@{/css/fontawesome/css/all.css}" rel="stylesheet"/>
    <link th:href="@{/css/index.css}" rel="stylesheet">

    <title>Login</title>
  </head>
  <body class="d-flex align-items-center justify-content-center">
    <!--Card Login-->
    <div class="card login-form-card col-4 bg-transparent border-0">
      <!--CardBody-->
      <div class="card-body">
        <!--Form Header-->
        <h1 class="form-header card-title mb-3">
          <i class="fa fa-user-circle"></i>Login
        </h1>
        <!--End of Form Header-->

         <!-- Display Message -->
         <div
         th:if="${passwordMismatch != null}"
         class="alert alert-danger text-center border border-danger"
       >
         <b th:text="${passwordMismatch}"></b>
       </div>
       
        <!--Registration Form-->
        <form action="" class="login-form">
          <!--Form Row-->
          

          <div class="form-group col ">
            <input
              type="email"
              name="email"
              class="form-control-lg"
              placeholder="Enter Email"
            />
          </div>

          <div class="form-group col">
            <input
              type="password"
              name="password"
              class="form-control-lg"
              placeholder="Enter Password"
            />
          </div>

          <div class="form-group col">
            <button class="btn btn-lg">Login</button>
          </div>
          <!--End of Row-->
        </form>

        <p class="card-text text-white my-2">
            Don't have an account?<span class="ms-2 "><a th:href="@{/register}" class="btn bt-sm  text-warning"> Sign Up</a>
              </span
            >
          </p>

        <!-- Back Button to Landing page-->
        <small class="text-warning">
          <i class="fa fa-arrow-alt-circle-left me-1"></i
          ><a th:href="@{/}" class="btn btn-sm text-warning"> Back</a>
        </small>
        <!-- End of back Button to Landing page-->
      </div>
    </div>
  </body>
</html>
