<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Right Side Offcanvas: Accounts Form Container -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightlabel">
    <div class="offcanvas-header">
        <h5 id="offCanvasRightlabel" class="text-black">Create / Add an Account</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <!-- Offcanvas Body: Accounts form wrapper -->
    <div class="offcanvas-body">
        <!-- Card: Account form Card -->
        <div class="card">
            <!-- Card Body -->
            <div class="card-body">
                <form action="" class="add-account-form">
                    <!-- Form Group -->
                    <div class="form-group mb-3">
                        <label for="">Enter Account Name</label>
                        <input type="text" name="account_name" class="form-control" th:placeholder="Enter Account name">
                    </div>

                    <!-- Form Group -->
                    <div class="form-group mb-3">
                        <label for="">Select Account Type</label>
                        <select name="account_type" class="form-control" id="">
                            <option value="">--Select Account Type--</option>
                            <option value="check">--Checking Account--</option>
                            <option value="savings">--Savings Account Type</option>
                            <option value="business">--Business Account Type</option>
                        </select>
                    </div>

                    <!-- Form Group -->
                    <div class="form-group mb-2">
                        <button id="transact-btn" class="btn btn-md" type="submit">Add Account</button>
                    </div>
                </form>
            </div>
            <!-- End of Card Body -->
        </div>
        <!-- End of Card: Account form Card -->
    </div>
    <!-- End of Offcanvas Body: Accounts form wrapper -->
</div>
<!-- End of Right Side OffCanvas -->

</html>
