<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">

<!-- Right Side Offcanvas: Accounts Form Container -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightlabel">
    <div class="offcanvas-header">
        <h5 id="offCanvasRightlabel" class="text-black">Create / Add a Catalog</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <!-- Offcanvas Body: Accounts form wrapper -->
    <div class="offcanvas-body">
        <!-- Card: Account form Card -->
        <div class="card">
            <!-- Card Body -->
            <div class="card-body">
                <form th:action="@{/account/create_account}" th:method="post" class="add-account-form">
                    <!-- Form Group -->
                    <div class="form-group mb-3">
                        <label for="">Enter Catalog's Name</label>
                        <input type="text" name="account_name" class="form-control" th:placeholder="${'Enter Catalogs name'}">
                    </div>

                    <!-- Form Group -->
                    <div class="form-group mb-3">
                        <label for="">Select Catalog Type</label>
                        <select name="account_type" class="form-control" id="">
                            <option value="">--Select Catalog Type--</option>
                            <option value="movies">--Movies--</option>
                            <option value="tv_series">--TV Series--</option>
                            <option value="books">--Books--</option>
                            <option value="restaurants">--Restaurants--</option>
                            <option value="clothes">--Clothes--</option>
                            <option value="art">--Art--</option>
                            <option value="games">--Games--</option>
                            <option value="music">--Music--</option>
                            <option value="shoes">--Shoes--</option>
                        </select>
                    </div>

                    <!-- Form Group -->
                    <div class="form-group mb-2">
                        <button id="transact-btn" class="btn btn-md" type="submit">Add Catalog</button>
                    </div>
                </form>
            </div>
            <!-- End of Card Body -->
        </div>
        <!-- End of Card: Account form Card -->
    </div>
    <!-- End of Offcanvas Body: Accounts form wrapper -->
</div>
<!-- End of Right Side OffCanvas -->

</html>
