<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Container: No Accounts -->
<div class="container">
    <!-- Card: # Accounts -->
    <div class="card no-account-card">
        <!-- Card Body -->
        <div class="card-body">
            <h1 class="card-title">
                <i class="fas fa-ban text-danger"></i>NO Registered Accounts
            </h1>
            <!-- End of Card Body -->
            <!-- Card Text -->
            <hr>
            <div class="card-text">
                You do not have any registered accounts.<br>
                Please click below to register/add a new account.
            </div>
            <br>
            <!-- End of Card text -->
            <button class="btn btn-secondary btn-lg shadow" type="button" data-bs-target="#offcanvasRight"
                data-bs-toggle="offcanvas" aria-controls="offcanvasRight">
                <i class="fa fa-credit-card"></i> Add New Account
            </button>
        </div>
    </div>
    <!-- End of Card: # Accounts -->
</div>
<!-- Container: No Accounts -->

</html>
