/*(Design new background image)*/

body {
  margin: 0;
  height:100vh;
  background-image: url("/bank_app/src/main/resources/static/images/Rob_Logo-01.png");
  background-size: cover;
  background-position: center center;
  background-repeat: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#sample-text-card{
  margin: 0px 100px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  justify-content: center;
  color: rgb(6, 195, 233);
}

#sample-text-card-h1{
  font-size: 65px;
}

#sample-text-card p {
  font-size: 14px;
}

.button-wrapper{
  width: 200px;
  padding: 15px;
  color: white;
  box-shadow: 0px 3px 6px rgba(2, 60, 24, 0.275);
}

.register{
  margin-right: 7px;
  background-color: red;
  border: 1px solid #ff4d0075;
}

.login{
  background-color: aqua;
  border: 1px solid teal;
}

.card .form-control{
  margin : 10px 0px;
  box-shadow: 0px 3px 6px rgba(2, 60, 24, 0.275);
}

.card{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card .card-title{
  color: white;
}

.card button{
  background-color: red;
  border: 1px solid #ff4d0075;
  color: white;
  width: 200px;
  margin: 10px 0px;
  box-shadow: 0px 3px 6px rgba(2, 60, 24, 0.275);
}