*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;   
}

body{
    background-color: rgb(224, 238, 202);
}

.main-page-header{
    padding: 10px 0px;
}

.container{
    margin: 10px auto;
}

.main-page-header .company-name{
    font-weight: 600;
    color: white;
}

.navigation{
    margin-left: 20px;
}

.navigation li{
    display: inline-block;
    list-style-type: none;
    margin: 0px  15px ;
}

.navigation li a{
    color:white;
    text-decoration: none;
}

.display-name i{
    font-weight: 600px;
}
/* Transaction Button*/
#transact-btn{
    background-color: aqua;
    border: 1px solid teal;
    
}

#account-btn{
    background-color: red;
  border: 1px solid #ff4d0075;
  color: white;
}

/*Off Canvas Background (Design new background image)*/
.offcanvas{
    background-image: url("../images/Untitled.png");
    background-size: cover;
    background-position: center center;
    background-repeat: none;
}

/* Card payment-card*/
.payment-card{
    display: none;
}

.transfer-card{
    display: none;
}

.deposit-card{
    display: none;
}

.wthdraw-card{
    display: none;
}
